body {
    background-color: beige;
    color: black;
    font-size: 20px;
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    margin-left: 14%;
}

h1, th {
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
    font-size: 28px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 2px #666 solid;
    text-align: center;
    font-size: 24px;
}

#free {
    background-color: #ffff00;
}

.square{
    height: 30px;
    width:  30px;
}

div{
    padding:20px;
    position:relative;
    float: left;
}

#catch_number{
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right:  50%;
}

.title{
    height: 50px;
    text-align: center;
    margin-top: 2px;
    font-size: 32;
    font-weight: bold;
    font-style: italic;
    color: #056;
    box-shadow:1px -3px 45px #2A2A2A;
    -webkit-box-shadow:1px -3px 45px #2A2A2A;
    -moz-box-shadow: 1px -3px 45px #2A2A2A;
    width: 118%;
    margin-left: -17%;
    margin-top: -7px;
}

.title a{
    font-size: 12px;
    float: right;
    margin-right: 17px;
    text-decoration: none;
}

#reload {
    height: 40px;
    border-radius: 4px;
}

#number_of_cards{
    height:34px;
    border-radius: 4px;
}

footer{
    display: inline;
    margin-bottom: 0;
    padding-right: 0.75em;
    font-size: 13px;
    position: fixed;
    top:96%;
}

.card_name{
   text-align: center;
   font-size: 14px;
   margin-bottom:  2px;
}

